@mixin rounded ($border-color: black,$shadow-color:black,$border-width:0) {
    border-radius: 50%;
    border: $border-width $border-color solid;
    box-shadow: 10px 10px 1em $shadow-color;
}

@mixin rounded-corner-box($back-color, $radius, $border-color:black, $border-width:0) {
    border-radius: $radius;
    border: $border-width $border-color solid;
    background-color: $back-color;
}